################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HRMS/ADMIN/HRM1.sln
/HRMS/ADMIN/.vs/HRM1/FileContentIndex/1d926690-7283-4ce2-8017-cace309471d0.vsidx
/HRMS/ADMIN/.vs/HRM1/FileContentIndex/f84768ce-d17d-400b-b886-3ab02387924e.vsidx
